body,
html {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;

  font-family: "Arial Mono MT Pro", sans-serif;
  font-size: 0.9rem;
  line-height: 1.2;
}

.home {
  z-index: 100;
  height: fit-content;
  width: 100%;
  position: absolute;
  color: black;
  text-align: center;
}

.hero {
  z-index: 1000;
  background-color: white;
  height: 100vh;
  padding: 0 8vw;
  /* gap: 3vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.heroTimes {
  line-height: 85%;
  font-size: 2.8rem;
  font-family: "Times New Roman", Times, serif;
}
.heroTxtCtn-1,
.heroTxtCtn-4 {
  font-size: 2rem;
  text-align: justify;
  width: 60%;
  margin: 0 auto;
}

.heroTxtCtn-3 {
  font-size: 1.6rem;
  text-align: justify;
  width: 48%;
  margin: 0 auto;
}

.header {
  height: fit-content;
  display: flex;
  flex-direction: row;

  position: sticky;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: blueviolet; */
  padding: 0 1vw;
}

.headerIssue {
  min-width: 50%;
}
.headerPlace {
  text-align: left;
}

.issue {
  width: 100%;
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
  height: 100vh;
  justify-content: center;

  /* background-repeat: no-repeat; */
  background-position: center center;
  background-size: 100%;
}

.issA {
  margin: auto;
  text-align: center;

  /* z-index: 5; */
  color: black;
  /* -webkit-text-stroke: 0.75px white; */
  text-shadow: -1px -1px 0 #ffff, 1px -1px 0 #ffff, -1px 1px 0 #ffff,
    1px 1px 0 #ffff;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  height: fit-content;
  padding: 1vh;
  padding-bottom: 2vh;
}

.footerEctn {
  display: flex;
  flex-direction: row;
}

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
